# folder yang jangan dipush
node_modules/

# environment
.env

# build artifacts (opsional)
dist/
build/

# OS
.DS_Store
*.log

# test coverage
coverage/

# k6 local credentials
k6-tests/helpers/credentials.local.js
k6-tests/credentials.local.json

uploads/
